@media(max-width:1920px){
    /* About Page Start */
    .aboutusInner{
        padding: 0 28%;
    }
    /* About Page End */
}
@media(max-width:1560px){
    /* About Page Start */
    .aboutusInner{
        padding: 0 20%;
    }
    /* About Page End */
}
@media(max-width:1367px){
    .mainMenu .nav-item:not(:last-child) {
        margin-right: 40px;
    }
    .socialList {
        padding-left: 50px;
    }
    .navbar-expand-md{
        padding: 30px 170px 27px 80px;
    }
    .socialList .nav-item:not(:first-child) {
        margin-left: 19px;
    }
    .bannerContent h1 {
        font-size: 58px;
        line-height: 72px;
    }
    .bannerInner .mainButton {
        margin-top: 56px;
    }
    .bannerInner{
        padding-top: 160px;
    }
      /* data start */
      .dataProtect {
        padding: 0px 280px 50px;
    }
    .dataHead {
        padding: 35px 0px;
    }
    /* data end */
    /* single_page start */
    .single_content {
        padding: 70px 280px;
    }
    .thunmnail_img {
        height: 55px;
        margin: 0px 8px;
        /* width: 98px!important; */
    }
    .single_button a {
        margin: 45px 10px 20px;
    }
    .single_button a {
        padding: 11px 10px;
    }
    .radical_main {
        padding: 70px 265px 95px;
    }
    /* single_page end */
    /* press start */
    .press_content {
        padding: 70px 260px 100px;
    }
    /* press end */
    /* single-page start */
    .gamesoverview {
        padding: 0px 260px;
    }
    /* signle-page end */
    .gameovermain{
        padding-bottom: 0 0!important;
    }
    .gameover{
        padding: 0px 0px 130px;
    }
    .single_gameover{
        padding-bottom: 130px!important;
    }
    .country-select.inside input, .country-select.inside input[type=text] {
        padding: 10px 50px;
        width: 358px;
    }
    .country-select .country-list {
        width: 358px!important;
     }
}
@media(max-width:1199px){
    .singleslider{
        padding: 50px 45px 90px;
    }
    .singleslider .slick-prev {
        left: 0;
    }
    .singleslider .slick-next {
        right: 0px;
    }
    .pixel6 {
        right: 6px;
    }
    .pixel4 {
        left: 46%;
    }
    .pixel5 {
        left: 45px;
    }
    .single_gameover{
        padding-bottom: 130px!important;
    }
    .bannerContent h1 {
        font-size: 50px;
        line-height: 62px;
    }
    .bannerInner .mainButton {
        margin-top: 50px;
    }
    .navbar-brand{
        width: 167px;
    }
    .navbar-brand img{
        width: 100%;
    }
    .navbar-expand-md{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 30px 30px 27px 30px;
    }
    .navbar-expand-md .navbar-toggler{
        position: absolute;
        left: 30px;
        height: 30px;
        width: 30px;
        padding: 0;
    }
    .footMenu ul li{
        width: 23%; 
    }
    .footMenu ul li.socialIcons{
        width: 30%;
    }
    .footLeft,
    .footRight{
        display: block;
        width: 100%;
        text-align: center;
    }
    .footRight{
        margin-top: 30px;
    }

    /* Sidenav Start */
    .topBoxs {
        margin-top: 85px;
    }
    .navbar-expand-md .navbar-toggler {
        display: block;
    }
    .navbar-expand-md .navbar-collapse {
        position: fixed;
        width: 100%;
        top: -120%;
        background: var(--colorWhite);
        height: 100%;
        transition: all 0.3s ease;
        display: initial !important;
        margin-top: 100px;
        z-index: 9;
        text-align: center;
    }    
    .nav-link:hover, .nav-link:focus
    {
        border-bottom: none;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-bottom: 5px;
    }
    .headerBox 
    {
        display: block !important;
        float: left !important;
        width: 100%;
        margin-top: 25px;
    }
    .navbar-expand-md .navbar-nav .nav-link
    {
        padding: 0;
    }
    .nav-item
    {
        margin-bottom: 20px;
    }
    .socialList{
        padding: 0;
    }
    .socialList.navbar-nav{
        flex-direction: row;
        justify-content: center;
    }
    .socialList.navbar-nav .nav-item{
        display: inline-block;
    }
    .mainMenu .nav-item:not(:last-child){
        margin-right: 0;
    }
    .headerBg{
        display: none;
    }

    /* Sidenav End */
    .aboutInner .aboutBottom{
        margin-top: -145px;
    }
    .bannerInner{
        padding-top: 110px;
    }
      /* data start */
      .dataProtect {
        padding: 0px 235px 50px;
    }
    /* h3.headingsize {
        font-size: 30px;
        line-height: 26px;
    } */
    .dataHead {
        padding: 30px 0px;
    }
    .protectInform p {
        padding-bottom: 15px;
    }
    /* data end */
    /* single_page start */
    .topSpace {
        margin-top: 100px;
    }
    .media_content .pixel6 {
        right: -30px;
    }
    .single_content {
        padding: 70px 210px;
    }
    .thunmnail_img {
        height: 50px;
        margin: 0px 6px;
        /* width: 81px!important; */
    }
    .para_content p {
        margin-top: 25px;
    }
    .vedio_img {
        margin: 30px 0px 0px;
    }
    .radical_main {
        padding: 50px 210px 60px;
    }
    .single_box .mobilesinglepx{
        width: auto;
    }
    /* single_page end */
    /* press start */
    .press_content{
        padding: 70px 160px 100px;
    }
    /* press end */
    /* single-page start */
    .gamesoverview {
        padding: 0px 150px;
    }
    .mobsinpixel7 {
        width: 105px;
    }
    .gameover {
        padding: 0px 0px 130px;
    }
    /* single-page end */
    /* carrer start */
    .joinOurTeam {
        padding: 0 140px;
        margin-bottom: 160px;
    }
    /* carrer end */
    /* About Page Start */
    .ourMandates .mandatePixelsOne {
        width: 160px;
    }
    .aboutusInner {
        padding: 0 16%;
    }
    .ourMandateInner{
        padding: 50px 28px;
    }
    .networkRetail {
        padding: 0px 210px;
    }
    /* About Page End */

    /* Contact Page Start */

    .pitchInner{
        padding: 0 110px;
    }

    /* Contact Page End */

    /* Imprint Page Start */

    .imprintBox .imprintPixelOne{
        width: 200px;
    }
    .imprintBox .imprintPixelTwo{
        width: 80px;
    }

    /* Imprint Page End */

    /* News Overvies Page Start */

    .newsOverviewSlider .gamesImg.gamesImg2 .gamnesIn{
        height: 273px;
    }

    /* News Overvies Page End */

}
@media(max-width:991px){
    .single_gameover{
        padding-bottom: 130px!important;
    }
    .subscribeBox{
        padding: 50px 50px 50px 50px;
    }
    .featurePixelOne{
        width: 180px;
    }
    .featurePixelTwo{
        width: 20px;
    }
    .featurePixelThree{
        width: 56px;
    }
    .featurePixelFour{
        width: 60px;
    }
    .aboutPixelOne{
        width: 105px;
    }
    .aboutPixelTwo{
        width: 75px;
    }
    .newsPixelOne{
        width: 34px;
    }
    .newsPixelTwo{
        width: 45px;
    }
    .featuredTop h4{
        padding: 0 60px;
    }
    .aboutInner{
        padding: 0 40px;
    }
    .newsInner .col-sm-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .newsImg img{
        width: 100%;
    }
    .newsInner .moreNews{
        margin-bottom: 30px;
        float: left;
    }
    .newsInner .col-sm-3:nth-last-child(-n+2) .moreNews{
        margin-bottom: 0;
    }
    .gamesImg .gamesLogo{
        height: 170px;
    }
    .aboutInner .aboutboxInner {
        padding: 40px;
    }

    .footMenu ul li{
        width: 33%;
    }
    .footMenu ul li:last-child{
        width: 100%;
    }
    .footMenu ul li.dataProtection{
        text-align: center;
    }
    .footMenu ul li.contactUs{
        text-align: right;
    }
    .footMenu .footSocial{
        margin-top: 25px;
    }
    .footMenu .footSocial ul{
        float: unset;
        text-align: center;
    }
    .footMenu .footSocial li{
        float: unset;
    }
    .footMenu .footSocial li:last-child{
        width: auto;
    }
    .footMenu .footSocial span{
        float: unset;
    }
    .bannerContent h1 {
        font-size: 43px;
        line-height: 56px;
    }
    .bannerInner .mainButton {
        margin-top: 40px;
    }
    .bannerInner{
        padding-top: 70px;
    }
     /* data start */
     .px_banner {
        width: 20%;
    }
    .dataProtect {
        padding: 0px 155px 50px;
    }
    /* h3.headingsize {
        font-size: 28px;
        line-height: 26px;
    } */
    .dataHead {
        padding: 20px 0px;
    }
    h2.data {
        font-size: 16px;
    }
    .pixel1 {
        width: 85px;
    }
    /* data end */
    /* single_page start */
    .single_content {
        padding: 70px 100px;
    }
    .mobilesinglepixel7 {
        width: 70px;
    }
    .slide .slick-prev {
        left: -22px;
    }
    .slide .slick-next {
        right: -22px;
    }
    .thunmnail_img {
        /* width: 80px!important; */
    }
    .radical_main ul li {
        width: 100px;
    }
    .radical_main {
        padding: 50px 100px 60px;
    }
    .vedio_img {
        padding: 100px 0px;
    }
    /* single_page end */
    /* press start */
    .press_content {
        padding: 70px 50px 100px;
    }
    .sec_drop {
        margin: 40px 0px 45px;
    }
    /* press end */
    /* single-page start */
    .gamesoverview {
        padding: 0px 60px;
    }
    .gameover {
        padding: 0px 0px 130px;
    }
    .mobsinpixel7 {
        width: 70px;
    }
    .singleRight h2{
        font-size: 19px;
    }
    .gamesHead {
        padding: 85px 0px 50px;
    }
    /* single-page end */
    /* carrer start */
    .joinOurTeam {
        padding: 0 55px;
        margin-bottom: 97px;
    }
    .ourTeam {
        padding: 30px 25px;
    }
  
    /* carrer end */
     /* About Page Start */
     .ourMandates .mandatePixelsOne {
        width: 105px;
    }
    .ourMandate {
        padding: 0 80px;
    }
    .aboutusInner .gamesPixelsTwo{
        width: 75px;
    }
    .valuesLists {
        margin: 60px 0 60px;
    }
    .retailNetwork .networkPixel {
        width: 70px;
    }
    .aboutGames.videoGames img{
        width: 332px;
    }
    .factsFigures {
        padding: 107px 0 130px;
    }
    .networkRetail {
        padding: 0px 90px;
    }
    /* About Page End */

    /* Contact Page Start */

    .pitchInner{
        padding: 0 50px;
    }

    /* Contact Page End */

    /* Thankyou Page Start */

    .contactMsg .successImg {
        margin: 65px 0;
    }
    .thankyouMid .thankuoyPixls{
        right: 0;
    }

    /* Thankyou Page End */

    /* Imprint Page Start */

     .imprintBox .newsPixelOne{
         width: initial;
     }
     .imprintBox .imprintPixelOne {
        width: 150px;
    }
    .imprintBox .imprintPixelTwo {
        width: 60px;
    }

    /* Imprint Page End */

    /* News Overvies Page Start */

    .newsOverviewSlider .slick-prev{
        left: 39%;
    }
    .newsOverviewSlider .slick-next{
        right: 39%;
    }
    .newsOverviewSlider .gamesImg.gamesImg2 .gamnesIn{
        height: 308px;
    }

    /* News Overvies Page End */

    /* Purchase Modal Start */

    .purchaseOverview.modal-open .modal{
        padding-left: 0;
    }
    .purchaseOverview .modal-dialog{
        max-width: 710px;
    }

     /* Purchase Modal End */

} 
@media(max-width:767px){ 
    .singleslider{
        padding: 50px 10px 40px;
    }
    .pixel6 {
        display: none;
    }
    .pixel4 {
        display: none;
    }
    .pixel5 {
        display: none;
    }
    .single_gameover{
        padding-bottom: 130px!important;
    }
    
    .container{
        max-width: 100%;
        padding: 0 30px;
    }
    .featurePixelOne {
        width: 110px;
    }
    .featurePixelTwo {
        width: 15px;
    }
    /* .featurePixelThree {
        width: 40px;
    } */
    .featurePixelFour {
        width: 50px;
    }
    .aboutPixelOne{
        display: none;
    }
    .aboutPixelTwo {
        width: 60px;
    }
    .newsPixelOne {
        width: 28px;
    }
    .newsPixelTwo {
        width: 35px;
        right: 30%;
    }
    .aboutBox .container{
        padding: 0;
        max-width: 100%;
    }
    .aboutInner{
        padding: 0;
    }
    .footerSubascribe{
        display: initial;
    }
    .subscribeImg,
    .subscribeBox{
        width: 100%;
    }
    .featuredBox .col-sm-4{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .featuredBox .col-sm-4:last-child{
        margin-left: 25%;
    }
    .featuredTop h4{
        margin-bottom: 80px;
        padding: 0 40px;
    }
    .topHeading{
        margin-bottom: 45px;
    }
    /* .aboutboxImg{
        margin-bottom: 210px;
    } */
    .moreNewsLink {
        margin: 35px 0 0;
    }
    .newsBoxs{
        padding-bottom: 100px;
    }
    .footerMenu {
        padding: 50px 0;
    }
    .aboutInner .aboutBottom {
        margin-top: -25%;
    }
    .bannerContent h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .bannerInner .mainButton {
        margin-top: 30px;
    }
    .bannerInner {
        padding-top: 50px;
    }
      /* data start */
      .px_banner {
        width: 17%;
    }
    .pixel2 {
        width: 40px;
    }
    .pixel1 {
        width: 15%;
    }
    .dataProtect {
        padding: 0px 90px 50px;
    }
    .dataHead {
        padding: 12px 0px;
    }
    .protectInform p {
        padding-bottom: 10px;
    }
    /* data end */
    /* single_page start */
    .media_content {
        margin-bottom: 40px;
    }
    .media_content .pixel4 {
        bottom: -25px;
        right: -15px;
        transform: rotate(180deg);
        width: 40px;
    }
    .media_content .pixel6 {
        right: -15px;
        width: 29px;
        top: -18px;
    }
    .inner_image img{
        width: 220px;
    }
    .single_box .mobilesinglepx {
        width: 154px;
    }
    .single_box .px_ban {
        top: 69%;
        width: 60px;
    }
    .single_content {
        padding: 70px 65px;
    }
    .radical_main ul li {
        width: 80px;
        margin: 0px 13px;
    }
    .para_content {
        margin: 0 0px 70px;
    }
    .single_button a {
        margin: 0px 10px 20px;
    }
    .signle_para p {
        margin-bottom: 30px;
    }
    .mobilesinglepixel9 {
        position: absolute;
        left: 0;
        top: 12%;
        width: 45px;
    }
    .vedio_img {
        padding: 75px 0px;
        margin: 30px 0px;
    }
    /* single_page end */
    /* press start */
    .press_box {
        padding: 159px 0px;
    }
    .press_content {
        padding: 60px 30px 95px;
    }
    /* press end */
    /* single-page start */
    .gamesoverview {
        padding: 0px 30px;
    }
    .gameover {
        padding: 0px 0px 130px;
    }
    .singleDiv {
        display: block;
        margin: 0px 0px 30px;
    }
    .singleLeft, .singleRight{
        width: 100%;
    }
    .singleDiv:nth-child(odd){
        display: block;
    }
    .sin_rgt h2{
        margin-top: 30px;
    }
    .singleLeft{
        margin-top: 40px;
    }
    /* .gamesilder .slick-prev, .gamesilder .slick-next {
        height: 30px;
        width: 30px;
    } */
    .gamesHead {
        padding: 85px 0px 35px;
    }
   
    /* singlepage end */
    /* carrer start */
    .ourTeam {
        margin-top: -75px;
    }
    /* carrer end */
     /* About Page Start */

     .ourMandates .mandatePixelsOne,
     .ourMandates .mandatePixelsTwo,
     .aboutusInner .gamesPixelsTwo,
     .aboutusInner .gamesPixelsOne,
     .retailNetwork .networkPixel,
     .factsFigures .newsPixelOne,
     .factsFigures .newsPixelTwo{
         display: none;
     }
     
     .aboutusInner {
         padding: 0 0;
     }
     .ourMandate {
         padding: 0 0px;
     }
     .networkRetail ul li {
         padding-right: 50px;
     }
     .boxAbout {
         margin-bottom: 59px;
     }
     .mandateBottom h3 {
         padding: 0 70px;
     }
     .valuesLists ul li span{
         margin-right: 0;
         margin-bottom: 18px;
     }
     .valuesLists ul li:last-child span{
         margin-bottom: 0;
     }
     .valuesLists ul li{
         display: block;
     }
     .networkRetail {
        padding: 0px 0px;
    }
 
     /* About Page End */
 
     /* Contact Page Start */
 
     .checkTerms input[type=checkbox]:checked + label, 
     .checkTerms input[type=checkbox]:not(:checked) + label{
         text-align: left;
         line-height: 24px;
     }
     .checkTerms input[type=checkbox]:checked + label:before, 
     .checkTerms input[type=checkbox]:not(:checked) + label:before{
         top: 0;
     }
     .checkTerms input[type=checkbox]:checked + label:after{
         top: 4px;
     }
     .pitchInner {
         padding: 0 20px;
     }
     .contactForm p {
         padding: 0 15px;
     }
 
     /* Contact Page End */
 
     /* Thankyou Page Start */
 
     .thankyouMid .thankuoyPixls{
         width: 35px;
     }
 
     /* Thankyou Page Enc */
 
     /* Imprint Page Start */
 
     .imprintBox .newsPixelOne{
         width: 50px;
     }
     .imprintBox .imprintPixelOne {
        width: 110px;
    }
    .imprintBox .imprintPixelTwo {
        width: 40px;
    }
 
    /* Imprint Page End */
 
    /* News Overvies Page Start */
 
    .newsOverviewSlider .slick-prev{
         left: 36%;
     }
     .newsOverviewSlider .slick-next{
         right: 36%;
     }
    .newsOverviewSlider .gamesImg.gamesImg2 .gamnesIn{
        height: 220px;
    }
 
    /* News Overvies Page End */

    /* Purchase Modal Start */

    .purchaseOverview .modal-dialog{
        max-width: 100%;
    }
    .purchaseOverview .modalButtons button{
        width: 227px;
    }

     /* Purchase Modal End */
}

@media(max-width:560px){
    .country-select .country-list {
        width: 276px!important;
    }
    .country-select.inside input, .country-select.inside input[type=text]{
        width: 100%;
    }
    .single_gameover{
        padding-bottom: 130px!important;
    }
    .gamesFeatured .mainButton a.mobhome{
        display: block;
    }
    .navbar-brand{
        width: 101px;
    }
    .navbar-expand-md{
        padding: 16px 30px 15px 30px;
    }
    .navbar-expand-md .navbar-collapse{
        margin-top: 61px;
    }
    .navbar-expand-md {
        padding: 16px 13px 15px 13px;
    }
    .navbar-expand-md .navbar-toggler{
        left: 13px;
    }
    .featuredBox .col-sm-4{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .featuredBox .col-sm-4:last-child{
        margin-left: 0;
    }
    .featuredBox .col-sm-4 .gamesLogo img{
        width: 100%;
    }
    a.gamesImg{
        width: 303px;
        float: unset;
        height: 100%;
        margin: 0 auto 30px;
    }
    .gamesImg .gamesLogo{
        height: 200px;
    }
    
    .newsContent{
        padding: 0;
    }
    .aboutInner .aboutboxInner {
        padding: 30px;
    }
    .bannerContent h1 {
        text-align: center;
    }
    .desktopBanner{
        display: none;
    }
    .mobileBanner{
        display: block;
    }
    .bannerInner .mainButton{
        display: none;
    }
    .bannerInner {
        padding-top: 82px;
    }
    .gamesFeatured .mainButton{
        display: block;
        margin-bottom: 37px;
    }
    .featuredGames {
        padding-top: 50px;
    }
    .featurePixelOne {
        width: 85px;
    }
    .bannerContent{
        left: 0;
        width: 100%;
    }
    .featuredTop h4 {
        margin-bottom: 70px;
        padding: 0 10px;
    }
    .featuredGames .mobilepixelOne, .featuredGames .mobilepixelTwo{
        display: block;
    }
    .featurePixelOne, .featurePixelTwo, .featurePixelFour, .newsPixelOne, .newsPixelTwo{
        display: none;
    }
    .featurePixelThree {
        bottom: -44px;
    }
    .subscribeBox {
        padding: 50px 30px;
    }
    /* data start */
    .dataProtect {
        padding: 45px 25px 0;
    }
    .px_banner{
        display: none;
    }
    .mobiledatapx{
        display: block;
        position: absolute;
        left: 0;
        top: 26px;
        width: 35px;
    }
    .topSpace {
        margin-top: 61px;
    }
    h3.headingsize {
        line-height: 45px;
    }
    p.data, .protectInform ul li {
        font-size: 17px;
        line-height: 26px;
    }
    h2.data {
        font-size: 17px;
    }
    .dataHead {
        padding: 12px 0px 45px;
    }
    .mobiledatapx2{
        position: absolute;
        top: 33%;
        left: 0;
        width: 38px;
        display: block;
    }
    .mobiledatapixel5{
        display: block;
        position: absolute;
        right: 0;
        width: 35px;
        top: 20%;
    }
    .pixel2{
        display: none;
    }
    .pixel3{
        display: none;
    }
    .dataprotectIn {
        padding-bottom: 160px;
    }
    .mobiledatapixel1 {
        width: 18%;
        bottom: 40px;
    }
    .mobiledatacontent{
        display: none;
    }
    .liblelist{
        margin-bottom: 30px;
    }
    .protectInform h2 {
        padding: 30px 0px 7px;
    }
    .mobiledatpixel3{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 30px;
        top: 45%;
    }
    .mobiledatapara{
        display: none;
    }
    /* data end */
    /* single_page start */
    .mobile_banner{
        display: block;
    }
    .mobile_banner img{
        width: 100%;
    }
    .des_banner{
        display: none;
    }
    .slide .slider-nav-thumbnails{
        display: none;
    }
    .single_box .mobilesinglepx{
        display: block;
    }
    .single_content {
        padding: 25px 0px 30px;
    }
    .mobilesinglepixel8{
        display: none;
    }
    .slide .slick-prev, .slide .slick-next {
        width: 30px;
        height: 30px;
    }
    .slide .slick-next {
        right: -13px;
    }
    .slide .slick-prev {
        left: -13px;
    }
    .single_button a {
        padding: 2px 10px;
    }
    .switch_logo {
        text-align: center;
        padding: 40px 0px 30px;
    }
    .mobilesinglepixel9 {
        top: 10%;
        width: 35px;
    }
    .vedio_img img{
        width: 18%;
    }
    .mobilesinglepixel7{
        display: none;
    }
    .media_block {
        margin: 60px 0px 35px;
    }
    .radical_main ul li {
        width: 110px;
    }
    .radical_main {
        padding: 25px 25px 110px;
    }
    .single_box .px_ban {
        top: 77%;
        width: 45px;
    }
    /* single_page end */
    /* press start */
    .single_content {
        padding: 50px 0px 70px;
    }
    .mobile_press_content{
        display: none;
    }
    .mobile_press_show{
        display: block;
    }
    .mobile_press_show p.phead{
        margin-bottom: 30px;
    }
    .press_link{
        color: #f1114f;
    }
    .headlinebox{
        display: block;
    }
    .fact_box h4{
        display: block;
        float: left;
        width: 100%;
    }
    .imagebox h4 span a {
        width: 200px;
    }
    .pressmobile_px9 {
        position: absolute;
        left: 0;
        top: 99px;
        width: 25px;
        display: block;
    }
    .pressmobile_pxl9 {
        position: absolute;
        left: 0;
        top: 195px;
        width: 30px;
        display: block;
    }
    .mobpresspixel6 {
        position: absolute;
        right: 0;
        width: 28px;
        top: 4%;
        display: block;
    }
    .pressmobile_pixel{
        position: absolute;
        left: 0;
        width: 25px;
        top: 17%;
        display: block;
    
    }
    /* press end */
    /* single page start */
    .gamesoverview {
        padding: 0px 0;
    }
    .gameover {
        padding: 0px 0px 130px;
    }
    .sin_pxpixel9 {
        position: absolute;
        left: 0;
        top: 87px;
        width: 33px;
    }
    .mobsinpixel7{
        display: none;
    }
    .textaboutpixel9 {
        position: absolute;
        left: 0;
        top: 38%;
        width: 35px;
        display: block;
    }
    .textaboutpixel8 {
        position: absolute;
        right: initial;
        top: 58%;
        left: 0;
        width: 33px;
    }
    .textpixel3{
        position: absolute;
        right: 0;
        width: 35px;
        top: 19%;
        display: block;
    }
    .gamesilder.gamesildersingle{
        /* padding-bottom: 165px; */
    }
    .gamesilder .slick-prev, .gamesilder .slick-next {
        margin: 0px -8px;
    }
    .singleRight {
        padding-left: 0;
    }
    .singleDiv:nth-child(odd) .singleRight {
        padding-left: 0px;
        padding-right: 0;
    }
    /* single page end */
    /* carrer start */
    .joinOurTeam {
        padding: 0 0px;
        margin-bottom: 176px;
    }
    .contactBanner .carrermob{
        display: block;
    }
    .contactBanner .carre_desk{
        display: none;
    }
    .ourTeam {
        margin-top: -144px;
    }
    .mainButton .btnStyle {
        padding: 21px 90px;
    }
    /* carrer end */
    /* overview start */
    .overviewBanner .overmobile{
        display: block;
        width: 100%;
    }
    .overviewBanner .overmobile img{
        width: 100%;
    }
    .overviewBanner .overdesktop , .overviewBanner .bannerPixel{
        display: none;
    }
    .gamePixel{
        display: none;
    }
    .overgame_head {
        padding: 0 0px 35px;
    }
    .gamesilder a.overimg{
        height: auto!important;
        width: 330px;
    }
    .gamePixel2 {
        position: absolute;
        right: 0;
        top: -25px;
        width: 22px;
    }
    
    /* overview end */
      /* About Page Start */

      .desktopBanner{
        display: none;
    }
    .mobileBanner{
        display: block;
    }
    .mandateBottom h3 {
        padding: 0 20px;
    }
    .ourMandateInner .topHeading{
        margin-bottom: 20px;
    }
    .valuesGames h2.valuesText{
        font-size: 42px;
        line-height: 52px;
    }
    .partnerSlider .slick-prev{
        left: -18px;
    }
    .partnerSlider .slick-next{
        right: -18px;
    }
    .valuesGames{
        padding: 97px 0 92px;
    }
    .ourPartners {
        padding: 80px 0 65px;
    }
    .networkRetail ul li{
        width: 32%;
        padding-right: 40px;
    }
    .networkRetail ul li img{
        width: 100%;
    }
    .factsFigures {
        padding: 93px 0 110px;
    }
    .valuesGames{
        background-size: cover;
    }
    .aboutusInner .mobilePixelsOne{
        display: block;
    }
    .aboutusInner.ourVideoGames{
        margin-top: 30px;
    }
    .valuesLists {
        margin: 50px 0 40px;
    }
    .ourPartners .topHeading{
        margin-bottom: 30px;
    }
    .aboutTop{
        margin-top: 0;
    }
    .aboutusBox .aboutPixlsOne{
        display: block;
    }
    .aboutGames img {
        margin-top: 0;
    }
    .aboutGames.videoGames img {
        margin-top: 0;
    }
    .aboutPixls{
        display: block;
    }
    .ourVideoGames .aboutPixls{
        bottom: 25%;
    }
    .featuredBox {
        margin-bottom: 13px;
    }
    .networkRetail ul.sliderRetail li {
        padding: 0px 25px;
    }

    /* About Page End */

    /* Contact Page Start */

    .gamePitch{
        margin-top: 54px;
    }
    .pitchInner {
        padding: 0px;
    }
    .contactForm{
        padding: 60px 13px;
    }
    .contactForm .contactUs .form-group{
        margin-bottom: 14px;
    }
    .contactForm .contactUs textarea{
        margin: 20px 0 17px;
    }
    .aboutPixelTwo {
        bottom: 28px;
        width: 50px;
    }
    .contactForm button{
        margin-top: 40px;
    }

    /* Contact Page End */

    /* Thankyou Page Start */

    .contactMsg{
        margin: 50px 0 60px;
        padding: 50px;
    }

    .thankyouMid .thankuoyPixls{
        display: none;
    }

    /* Thankyou Page End */

    /* Imprint Page Start */

    .imprintBox .newsPixelOne, .imprintBox .imprintPixelOne, .imprintBox .imprintPixelTwo{
        display: none;
    }
    .imprintBox {
        padding: 60px 0 150px;
    }
    .imprintBox .pitchInner .topHeading {
        margin-bottom: 30px;
    }
    .pitchInner .imprintContent {
        margin-bottom: 22px;
    }
    .imprintBox .mobileImprint{
        display: block;
    }
    .imprintBox .mobileImprint1, .imprintBox .mobileImprint2, .imprintBox .mobileImprint4{
        right: 0;
    }
    .imprintBox .mobileImprint3, .imprintBox .mobileImprint5{
        left: 0;
    }
    .imprintBox .mobileImprint1{
        top: 282px;
    }
    .imprintBox .mobileImprint2{
        top: 409px;
    }
    .imprintBox .mobileImprint3{
        top: 467px;
    }
    .imprintBox .mobileImprint4{
        top: 785px;
    }
    .imprintBox .mobileImprint5{
        bottom: 350px;
    }
    .imprintBox .pitchInner{
        padding: 0 15px;
    }

   /* Imprint Page End */

   /* News Overview Start */

    .newsOverview .newsOverviewPxls, 
    .newsOverview .newsPixelOne, 
    .newsOverview .newsPixelOne{
        display: none;
    }

   /* News Overview End */

   /* News Overvies Page Start */

   .newsOverviewSlider .slick-prev{
        left: 32%;
    }
    .newsOverviewSlider .slick-next{
        right: 32%;
    }
    .gamesImg.gamesImg2 .gamnesIn{
        height: 320px;
    }
    .gamesoverview.newsOverview .gamesHead{
        margin-top: 34px;
        padding-bottom: 45px;
    }

    .newsOverviewSlider .gamesImg.gamesImg2{
        max-width: 320px;
        width: 320px;
    }
    .newsOverviewSlider .newsBoxs{
        padding: 0;
    }


    .newsOverviewSlider .gamesImg.gamesImg2 .gamnesIn {
        height: 320px;
    }
    .newsOverviewSlider.slick-initialized .slick-slide{
        margin: 0 auto;
        text-align: center;
    }
    .gamesoverview.newsOverview{
        margin-top: 0;
        padding-bottom: 110px;
    }
    .newsOverviewSlider {
        padding-bottom: 60px;
    }
    .newsOverviewSlider .gamesImg.gamesImg2{
        padding: 0;
    }
    .newsOverview .newsPixelMobile{
        display: block;
    }

/* News Overvies Page End */

/* Purchase Modal Start */

.purchaseOverview .modal-dialog{
    max-width: 100%;
    margin: 0;
}
.purchaseOverview .modalButtons button{
    width: 322px;
    margin-bottom: 20px;
}
.purchaseOverview .modalButtons button.btnTwo{
    margin-left: 0;
}
.retailOptions{
    float: unset;
}
.retailOptions:nth-child(even){
    /* margin-right: 0; */
}

 /* Purchase Modal End */

}
@media(max-width:414px){
    .single_gameover{
        padding-bottom: 130px!important;
    }
    .dataprotectIn {
        padding-bottom: 135px;
    }
    .container{
        padding: 0 20px;
    }
    .aboutInner .aboutBottom p{
        margin-bottom: 4px;
    }
    .aboutInner .aboutBottom p.topContent.contentSize {
        margin-bottom: 18px;
    }
    .aboutInner .aboutDescription{
        margin-bottom: 91px;
    }
    .newsSlider{
        display: block;
        width: 100%;
        float: left;
    }
    .newsSlider{
        margin: 0;
    }
    .newsInner .col-sm-3 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .newsSlider .slick-prev, .newsSlider  .slick-next{
        height: 36px;
        width: 36px;
        border: 1px solid var(--pinkColor);
        border-radius: 50%;
        z-index: 99;
        background: var(--pinkColor);
        opacity: 0.8;
        top: initial;
        bottom: 57%;
    }
    .newsSlider .slick-prev{
        left: -16px;
    }
    .newsSlider .slick-next{
        right: -16px;
    }
    .newsSlider .slick-dots{
        bottom: 0px;
    }
    .newsSlider .slick-dots li button:before{
        content: '';
        height: 8px;
        width: 8px;
        border: 1px solid var(--pinkColor);
        border-radius: 50%;
    }
    .newsSlider .slick-dots li button{
        padding: 0;
        height: 8px;
        width: 8px;
        margin: 0;
    }
    .newsSlider .slick-dots li{
        margin: 0;
        height: 8px;
        width: 8px;
        margin-right: 9px;
    }
    .newsSlider .slick-dots li:last-child{
        margin-right: 0;
    }
    .newsSlider .slick-active button:before{
        background: var(--pinkColor);
    }
    .moreNewsLink {
        margin: 0;
    }
    .newsBoxs .newsPixelOne, .newsBoxs .newsPixelTwo{
        display: none;
    }
    .newsBoxs {
        padding-bottom: 70px;
    }
    .subscribeBox {
        padding: 50px 20px 30px;
    }
    .subscribeBox  p{
        margin-bottom: 12px;
    }
    .footMenu .footSocial span{
        float: left;
    }
    .footBottom{
        padding: 65px 0;
    }
    .para_content {
        margin: 0 0px 40px;
    }
    .footMenu .footSocial li {
        width: auto;
        margin-right: 25px;
    }
    /* press start */
    .logo_box {
        width: 115px;
        height: 60px;
        margin-right: 20px;
    }
    /* press end */
    /* single page start */
    .gamesHead {
        padding: 63px 0px 20px;
    }
    .singleRight {
        padding-left: 0;
    }
    .dateContent p, .singleRight p, .singleBottomCont p {
        font-size: 16px;
    }
    .singleRight p {
        padding-top: 13px;
    }
    .singleContet p {
        font-size: 16px;
    }
    .gamesilder.gamesildersingle .slick-prev {
        /* bottom: 4%; */
        left: 26%;
    }
    .gamesilder.gamesildersingle .slick-next{
        right: 26%;
    }
    .textpixel3 {
        top: 21%;
    }
    /* single page end */
    /* carrer start */
    .ourTeam .topHeading {
        margin-bottom: 20px;
    }
    .ourTeam {
        padding: 25px 15px;
    }
    .mainButton .btnStyle {
        padding: 21px 63px;
    }
    /* carrer end */
    /* overview start */
    .gamesilder a.overimg {
        height: auto!important;
        width: 100%;
    }
    .gamesilder .slick-prev {
    left: 40%;
    }
    .gamesilder .slick-next {
        right: 40%;
    }
    .overview .paddingbottom{
        padding-bottom: 155px;
    }
    /* .overview .slick-next {
       
        bottom: 4%;
    }
    .overview .slick-prev {
       
        bottom: 4%;
    } */
    .overgame_head{
        padding: 20px 0px 20px;
    }
    /* overview end */
    /* About Page Start */

    .aboutTop {
        margin-top: 15px;
    }
    .aboutTop .topHeading {
        margin-bottom: 25px;
    }
    
    .boxAbout {
        margin-bottom: 40px;
    }
    .mandateBottom h3 {
        padding: 0 0px;
    }
    .sliderPartner.slick-slider{
        padding: 0 20px;
    }
    .partnerSlider .slick-prev {
        left: -6px;
    }
    .partnerSlider .slick-next {
        right: -6px;
    }
    .aboutusBox .aboutPixlsOne{
        top: 37px;
    }
    .ourVideoGames .aboutPixls {
        bottom: 23%;
    }
    .pitchInner .topHeading {
        margin-bottom: 35px;
    }
    /* About Page End */

    /* Thankyou Page Start */

    .contactMsg{
        padding: 50px 20px;
    }
    .contactMsg .successImg {
        margin: 50px 0;
    }

    /* Thankyou Page End */

    /* News Overvies Page Start */

    .newsOverviewSlider .slick-prev{
        left: 28%;
    }
    .newsOverviewSlider .slick-next{
        right: 28%;
    }
    

/* News Overvies Page Start */

.retailOptions:nth-child(even){
    margin-right: 0;
}
.purchaseOverview .modal-content{
    padding: 30px 19px;
}

 /* Purchase Modal End */
    
    
}
@media(max-width: 359px){
    a.gamesImg{
        width: 100%;
    }

    /* News Overvies Page Start */

.retailOptions{
    display: block;
    width: 100%;
    float: left;
}
.retailOptions .form-group{
    float: unset;
}
.purchaseOverview .modalButtons button{
    width: 100%;
}

 /* Purchase Modal End */
}
