
@font-face {
    font-family: 'TitilliumBold';
    src: url(../fonts/TitilliumWebBold.ttf);
}

@font-face {
    font-family: 'TitilliumRegular';
    src: url(../fonts/TitilliumWebRegular.ttf);
}

@font-face {
    font-family: 'TitilliumSemiBold';
    src: url(../fonts/TitilliumWebSemiBold.ttf);
}

@font-face {
    font-family: 'TitilliumLight';
    src: url(../fonts/TitilliumWebLight.ttf);
}

/* Variables for color and font family Start */

:root
{
    /* Colors */
    --colorWhite: #fff;
    --colorBlue: #112154;
    --colorLtblue: #2d8eff;
    --darkPink: #f0114f;
    --pinkColor: #f1114f;
    --raisinblack: #202020;
    --purplecolor : #dc11c9;
    --redishcolor: #ff4a07;
    --greycolor : #f6f6f6;
    --darkBlack : #222222;
    --greyblue : #dbdbdb;
    --redcolor : #f4024b;

    /* Font Family */
    --TitilliumBold : 'TitilliumBold';
    --TitilliumLight : 'TitilliumWebLight';
    --TitilliumRegular : 'TitilliumRegular';
    --TitilliumSemiBold : 'TitilliumSemiBold';
}

/* Variables for color and font family End */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.noleft {
    padding-left: 0;
}

.noright {
    padding-right: 0;
}

.nopadding {
    padding: 0 !important;
}

button,
a {
    transition: all 0.35s ease 0s;
}

button:focus {
    outline: none;
}

a {
    outline: none !important;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    /* color: #fff; */
}

.boxs {
    float: left;
    width: 100%;
    display: block;
}

/* a.btns {
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    color: #fff;
} */

/* h1.headingSize {
    font-size: 45px;
    line-height: 52px;
    color: #fff;
    font-family: 'Montserrat-SemiBold';
} */
/* 
h2 {
    font-family: var(--monserratSemibold);
    color: #000;
    line-height: normal;
}

h2.headingSize {
    font-size: 38px;
}
h3.headingsize{
    font-size: 34px;
}
p.contentSize{
    font-size: 17px;
} */
h2.heading {
	font-size: 34px;
	line-height: 33px;
	letter-spacing: 0.13px;
}
h3 {
    font-family: var(--TitilliumSemiBold);
    color: var(--raisinblack);
    line-height: normal;
}
h3.headingsize {
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.23px;
}
h4{
    font-family: var(--TitilliumSemiBold);
    color: var(--raisinblack);
    line-height: normal;
}
h4.headingsize{
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.23px;
}


p {
    font-family: var(--TitilliumRegular);
    color: var(--raisinblack);
}
p.contentSize {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.23px;
}
p.headingSize {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.23px;
}
/* h2.subheadSize {
    font-size: 35px;
    line-height: normal;
} */

/* h3 {
    font-family: 'Montserrat-Regular';
    color: #fff;
} */

/* h3.headSize {
    font-size: 27px;
} */

/* h3.headingSize {
    font-size: 24px;
    line-height: 30px;
} */

/* h4 {
    font-family: 'Montserrat-Regular';
    color: #fff;
} */

/* h4.headingSize {
    font-size: 22px;
    line-height: 30px;
} */

/* h5 {
    font-family: 'Montserrat-Regular';
    color: #fff;
} */

/* p {
    font-family: 'Montserrat-Regular';
    color: #000;
} */

/* p.headingSize {
    font-size: 18px;
    line-height: normal;
} */

/* p.subheading {
    font-size: 15px;
} */

/* p.headSize {
    font-size: 14px;
} */

/* a.headsize {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    color: #fff;
} */



/* Header Start */

.navbar-expand-md .navbar-nav .nav-link{
    padding: 0;
}

.header
{
    background: var(--colorWhite);
    position: fixed;
    z-index: 999;
}
.fixedHeader
{
    position: fixed;
    z-index: 999;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
.mainMenu .nav-link
{
    border-bottom: 2px solid transparent;
    padding: 32px 0;
}
.mainMenu .nav-item:not(:last-child) {
    margin-right: 50px;
}
.mainMenu .nav-link
{
    font-family: var(--TitilliumSemiBold);
    font-size: 19px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: var(--raisinblack);
    position: relative;
}
.mainMenu .nav-link:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--raisinblack);
    transition: all 0.3s ease;
}
.mainMenu .nav-link:hover:before{
    width: 100%;
    transition: all 0.3s ease;
}

.socialList{
    padding-left: 100px;
}
.socialList .nav-item:not(:first-child)
{
    margin-left: 28px;
}
.navbar-expand-md{
    width: 100%;
}
.navbar-expand-md .navbar-collapse{
    justify-content: flex-end;
}
.navbar-brand, .navbar-expand-md{
    padding: 0;
}
.navbar-expand-md{
    padding-left: 80px;
    padding-right: 204px;
    padding: 30px 204px 27px 80px;
}
.navbar.navbar-default{
    /* padding: 30px 0 27px; */
    padding: 0;
    position: relative;
}
.headerBg{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

/* Sidenav Start */

.navIcon
{
    position: absolute;
    right: 0px;
    top: 0px;
    background: var(--colorWhite);
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* .navIcon::before
{
    position: absolute;
    content: '';
    top: -8px;
    left: 0;
    height: 3px;
    width: 30px;
    background: var(--colorWhite);
    transition: all 0.3s ease;
}
.navIcon::after
{
    position: absolute;
    content: '';
    top: 8px;
    left: 0;
    height: 3px;
    width: 30px;
    background: var(--colorWhite);
    opacity: 1;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.navbar-toggler.active .navIcon:before
{
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.navbar-toggler.active .navIcon
{
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar-toggler.active .navIcon::after
{
    top: 0px;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-expand-md .navbar-toggler {
    background: transparent;
    border: none;
    padding: 0;
} */

/* Sidenav End */

/* Home Page Start */
.sectionSpacing{
    margin-bottom: 50px;
}
.mainButton{
    text-align: center;
}
 .btnStyle {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    color: var(--colorWhite);
    font-family: var(--TitilliumSemiBold);
    background: var(--pinkColor);
    padding: 21px 63px;
    display: inline-block;
    text-transform: uppercase;
    z-index: 99;
    border: 2px solid transparent;
}

/* Featured Games Start */

.featuredGames{
    position: relative;
    padding-top: 70px;
    padding-bottom: 86px;
}
.featuredTop{
    
}
.featuredTop h4{
    font-family: var(--TitilliumRegular);
    font-size: 19px;
    text-align: center;
    padding: 0 150px;
    margin-bottom: 100px;
    position: relative;
}
a.gamesImg{
	display: block;
	padding: 10px;
	  box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.54);
	background: var(--colorWhite);
	    padding: 20px;
	margin-bottom: 30px;
	position: relative;
}
.gamesImg .gamesLogo{
    height: 232px;
    overflow: hidden;
}
.gameDescription{
    position: relative;
    padding: 20px 0;
}
.gameDescription p{
    text-align: center;
}
.gamesImg .pixelOne{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.gameDescription .pixelTwo{
	position: absolute;
	top: 0;
    right: -20px;
    left: initial;
	z-index: 1;
}
.featuredBox {
    margin-bottom: 50px;
}
.featurePixelOne{
    top: 0;
    left: 0;
}
.featurePixelTwo{
    bottom: -40px;
    right: 0;
}
.featurePixelThree{
    bottom: -28px;
    left: 0;
}
.featurePixelFour{
    bottom: 205px;
    right: 0;
}
.featuredGames .mobilepixelOne, .featuredGames .mobilepixelTwo{
    display: none;
    position: absolute;
}
.featuredGames .mobilepixelOne{
    left: 0;
    top: 0;
}
.featuredGames .mobilepixelTwo{
    right: 0;
    top: 18.5%;
}
.gamesFeatured .mainButton.mobileButton .btnStyle{
    width: 277px;
    padding-left: 0;
    padding-right: 0;
}
.gamesFeatured .mainButton.mobileButton .mobhome{
    width: 100%;
}

/* Featured Games End */

/* AboutBox Start */

.aboutBox{
    position: relative;
}
.aboutInner{
    text-align: center;
    padding: 0 175px;
}
.aboutboxImg{
    position: relative;
    /* margin-bottom: 225px; */
}
.topHeading{
    margin-bottom: 56px;
    text-align: center;
}
.aboutInner .aboutDescription {
    margin-bottom: 105px;
}
.aboutInner .aboutBottom{
    box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.5);
    /* position: absolute; */
    bottom: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* bottom: -120px;
    left: 0;
    right: 0; */
    background: var(--colorWhite);
    position: relative;
    margin-top: -202px;
}
.aboutInner .aboutboxInner{
    padding: 50px;
}
a.learnMore{
    font-size: 18px;
    line-height: 33px;
    color: var(--pinkColor);
    font-family: var(--TitilliumSemiBold);
    border-bottom: 2px solid var(--pinkColor);
    text-transform: uppercase;
}
.aboutInner .aboutBottom .topContent{
    font-family: var(--TitilliumSemiBold);
}
.aboutInner .aboutBottom p{
    margin-bottom: 25px;
}
.aboutPixelOne{
    left: 0;
    top: 188px;
}
.aboutBox .aboutPixelTwo{
    right: 0;
    bottom: -35px;
}

/* AboutBox End */

/* Newsbox Start */

.newsBoxs{
    padding-bottom: 122px;
    position: relative;
}
.pixelImages{
    position: absolute;
}
.newsContent{
    text-align: center;
    padding: 20px;
}
.newsContent h4{
    margin: 10px 0 15px;
}
.newsContent p span{
    color: var(--pinkColor);
}
.moreNewsLink{
    margin: 50px 0 0;
}
.newsPixelOne{
    left: 0;
    bottom: 110px;
}
.newsPixelTwo{
    right: 32%;
    bottom: 0;
}

/* Newsbox End */

/* Home Page End */

/* Footer Start */

.topSpace{
    margin-top: 108px;
}
.footerSubascribe {
    display: flex;
    height: 100%;
}
.subscribeImg{
    width: 50%;
    display: inline-block;
    float: left;
}
.subscribeImg img{
    height: 100%;
    width: 100%;
}
.subscribeBox{
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 83px 50px 74px;
    background: var(--pinkColor);
}
.subscribeBox h3, .subscribeBox p{
    color: var(--colorWhite);
    margin-bottom: 34px;
}
.subscribeForm .subscribeMail{
    position: relative;
    width: 100%;
    border: 1px solid var(--colorWhite);
}
.subscribeForm input{
    font-size: 17px;
    line-height: 24px;
    height: auto;
    border: none;
    padding: 17px 80px 17px 20px;
    background: transparent;
    color: var(--colorWhite);
    border-radius: none;
}
.subscribeForm input::placeholder{
    color: var(--colorWhite);
}
.subscribeForm input:focus{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: var(--colorWhite);
}
.subscribeForm button{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 14px;
    border: none;
    height: 100%;
    background: var(--colorWhite);
}
.subscribeForm .subscribeMail{
    margin-bottom: 50px;
}
.subscribeForm button{
    cursor: pointer;
}
.checkTerms input[type=checkbox]{
    display: none;
}
.checkTerms input[type=checkbox]:checked + label,
.checkTerms input[type=checkbox]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    font-family: var(--TitilliumRegular);
    color: var(--colorWhite);
    margin-bottom: 0;
    cursor: pointer;
}
.checkTerms input[type=checkbox]:checked + label:before,
.checkTerms input[type=checkbox]:not(:checked) + label:before
{
    position: absolute;
    content: '';
    left: 0;
    top: -6px;
    height: 28px;
    width: 28px;
    border: 1px solid var(--colorWhite);
    background: transparent;
}
.checkTerms input[type=checkbox]:checked + label:after{
    position: absolute;
    content: '';
    left: 10px;
    top: -2px;
    height: 16px;
    width: 8px;
    border-right: 1px solid var(--colorWhite);
    border-bottom: 1px solid var(--colorWhite);
    transform: rotate(45deg);
}

.footerMenu{
    padding: 58px 0;
}
.footMenu ul li{
    display: inline-block;
    float: left;
    width: 25%;
}
.footMenu ul li a{
    font-size: 15px;
    line-height: 28px;
    color: var(--darkBlack);
    font-family: var(--TitilliumLight);
}
.footMenu ul li a:hover{
    color: var(--pinkColor);
}
.footMenu .footSocial {
    display: inline-block;
    float: left;
    width: 100%;
}
.footMenu .footSocial ul{
    float: right;
}
.footMenu .footSocial span{
    float: left;
    margin-right: 28px;
}
.footMenu .footSocial li{
    width: auto;
    margin-right: 28px;
}
.footMenu .footSocial li:last-child{
    margin-right: 0;
}

.footBottom{
    background: var(--raisinblack);
    padding: 31px 0;
}
.footLeft{
    display: inline-block;
    float: left;
}
.footRight{
    display: inline-block;
    float: right;
}
.footRight p{
    color: var(--colorWhite);
    font-size: 15px;
    line-height: 28px;
}
/* Footer End */


/* single page start */
.single_box{
    background: url(../img/single_banner) no-repeat;
    padding: 110px 0px 107px;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
}
 .px_banner{
position: absolute;
left: 0;
top: 109px;
}
.single_box .px_ban{
position: absolute;
right: 0;
top: 57%;
}
.inner_image{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-family: var(--TitilliumSemiBold);
    line-height: 33px;
    letter-spacing: 0.13px;
    text-align: center;
    color: var( --raisinblack);
}
.switch_logo{
    text-align: center;
    padding: 30px 0px;
}
.single_content{
    padding: 70px 340px;
    position: relative;
}
.signle_para p{
    font-family: var( --TitilliumRegular);
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.25px;
    text-align: center;
    color: var( --pinkColor);
}
.single_button a{
    font-family: var(--TitilliumSemiBold);
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 1px;
    color: var(--colorWhite);
    padding: 14px 10px;
    border: 2px solid transparent;
    width: 245px;
    display: inline-block;
    margin: 60px 10px 20px;
    text-transform: uppercase;
}
.single_button a.single_pre{
    background-color: var(--pinkColor);
}
.single_button a.single_press{
    border: solid 2px var(--pinkColor);
    color: var(--pinkColor);
}
.vedio_img{
    background: url(../img/vedio_img.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;
    margin: 30px 0px;
}
.para_content{
    margin: 30px 0px;
}
.para_content p{
    font-family:  var(--TitilliumRegular);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--raisinblack);
    margin-top: 40px;
}
 .slick-slide img{
    width: 100%;
    height: 100%;
}
 .thunmnail_img{
    height: 60px;
    margin: 0px 8px;
    /* width: 105px!important; */
}
.slide .thunmnail_img:nth-child(1){
   margin-left: 0px;
}
.slide .thunmnail_img:last-child{
    margin-right: 0px;
 }
.slide .slider-nav-thumbnails{
    margin-top: 20px;
}
.slide .slider-nav-thumbnails .slick-slide {
	opacity: 0.53;
}

.slide .slider-nav-thumbnails .slick-slide.slick-current {
	opacity: 1;
}
.slide .slick-prev, .slide .slick-next {
    width: 45px;
    height: 45px;
    background: var(--pinkColor);
    border-radius: 50%;
    z-index: 99;
}
.slide .slick-prev:before {
    font-family: FontAwesome;
    content:"\f177";
   }
.slide .slick-next:before {
    font-family: FontAwesome;
    content:"\f178";
}  
.slide .slick-prev {
    left: -70px;
}
.slide .slick-next {
    right: -70px;
}
.media_pink{
    background: var(--pinkColor);
}
.media_red{
    background: var(--redishcolor);
}
.media_purple{
background: var(--purplecolor);
}
.media_block{
    margin: 60px 0px 105px;
}
.media_content{
    padding: 30px 20px;
    position: relative;
}
.media_content p{
    font-family: var(--TitilliumRegular);
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.24px;
  color: var( --colorWhite);
}
.media_content p span{
    font-family: var( --TitilliumBold);
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 0.54px;
    padding-right: 10px;
}
.media_content h5{
    font-family:  var(--TitilliumSemiBold);
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.22px;
  color: var(--colorWhite);
  margin-top: 20px;
}
.rating_bx{
    background-color: var(--greycolor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.rating_bx p{
    font-family: var(--TitilliumRegular);
    font-size: 17px;
    line-height: 1.53;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--raisinblack);
    padding-right: 10px;
}
.radical_main ul{
    text-align: center;
}
.radical_main ul li{
    width: 127px;
    height: 67px;
    display: inline-block;
    margin: 0px 25px;
}
.radical_main ul li img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.radical_main{
    padding: 70px 340px 95px;
    position: relative;
}
.radical_main .para_content p{
    margin-top: 20px;
}
 .pixel1{
position: absolute;
right: 0;
bottom: 60px;
}
 .pixel2{
    position: absolute;
    left: 0;
    bottom: 135px;
    }
 .pixel3{
    position: absolute;
    bottom: 0;
    right: 26%;
    }  
 .pixel4{
    position: absolute;
    bottom: 33px;
    left: 30%;
}
 .pixel5{
    position: absolute;
    top: 60px;
    left: 0;
}
.singleslider{
    padding: 50px 0px 90px;
}
.media_box{
    position: relative;
}
 .pixel6{
    position: absolute;
    top: 59px;
    right: -38px;
}   
 .pixel7{
    position: absolute;
    left: 0;
    top: 65%;
}
.vedio_main{
    position: relative;
} 
 .pixel8{
    position: absolute;
    right: 0;
    top: 26%;
} 
 .pixel9{
    position: absolute;
    left: 0;
    top: 35%;
}    
/* single page end */

/* press start */
.press_box{
    padding: 210px 0px;
}
.sec_drop{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0px 70px;
}
.sec_drop a{
    font-family: var(--TitilliumRegular);
    font-size: 17px;
    line-height: 24px;
    color: var(--raisinblack);
    padding: 16px 15px;
    border: 1px solid #000;
    width: 400px;
    display: inline-block;
    border: solid 1px var(--greyblue);
}
.sec_drop a span{
    float: right;
}
.sec_drop ul{
    display: none;
    position: absolute;
    top: 58px;
    background: var(--greyblue);
    height: 235px;
    overflow: auto;
}
.sec_drop ul li{
    border-bottom: 1px solid var(--raisinblack);
}
.sec_drop ul li:last-child{
    border-bottom: none;
}

.fact_box h4{
    margin-top: 30px;
}
.history_box h3{
    margin: 20px 0px 30px;
}
.press_vedio{
    padding: 80px 0px;
    margin: 18px 0px 40px;
}
.press_vedio img{
    height: 60px;
    width: 60px;
}
.vedio_box  h3{
    margin: 20px  0px 30px;
}
.imagebox h4 span a{
    float: right;
    color: var(--redcolor );
}
.vedio_box h4{
    margin-bottom: 25px;
}
.img_bx{
    margin: 18px 0px 40px;
}
.Aenean_logo{
    display: inline-block;
}
.logo_box{
    width: 140px;
    height: 80px;
    margin-right: 20px;
}
.logo_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.press_content{
    padding: 70px 340px 130px;
}
/* press end */

/*overview code start*/
.gamesHead {
    text-align: center;
    padding: 60px 0px;
    }
    
    a.gamesImg {
    display: block;
    padding: 10px;
    box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.54);
    background: var(--colorWhite);
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    }
    
    .gamesImg span {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    }
    
    a.gamesImg img {
    z-index: 99;
    position: relative;
    }
    
    .gamesImg span.second {
    left: 10px;
    }
    
    .gamesImg span.three {
    top: -5px;
    left: 1px;
    }
    
    .gamesImg span.three2 {
    top: -5px;
    left: unset;
    right: 0;
    }
    
    .gamesImg span.third {
    right: 0;
    left: unset
    }
    
    .gamesImg span.third2 {
    right: unset;
    left: 0;
    }
    
    .gamesoverview {
    position: relative;
     padding: 0px 0px 130px;   /*swik changes */
    }
    
    .gamePixel {
    position: absolute;
    left: 0;
    top: -252px;
    }
    
    .overviewBanner {
    position: relative;
    }
    
    .bannerPixel {
    position: absolute;
    bottom: 0;
    right: 0;
    }
    
    .gamePixel2 {
    position: absolute;
    right: 0;
    top: 34%;
    }
    
    .gamePixel3 {
    position: absolute;
    right: 0;
    bottom: 25px;
    }
    
    .paddingbottom {
    padding-bottom: 225px;
    display: flex ! important;
    }
    
    .gamesilder .slick-prev,
    .gamesilder .slick-next {
    position: absolute;
    content: url('../img/arrowwhite.svg');
    bottom: 5%;
    top: unset;
    height: 46px;
    width: 46px;
    border: 1px solid #f1114f;
    border-radius: 100%;
    z-index: 99;
    transform: rotate(0deg);
    }
    
    .gamesilder .slick-prev {
    left: 42%;
    }
    
    .gamesilder .slick-next {
    right: 42%;
    bottom: 5%;
    top: unset;
    /* transform: rotate(180deg); */
    left: unset;
    background: #f1114f;
    }
    
    .gamesilder .slick-prev:before {
    content: url('../img/arrow.svg');
    }
    
    .gamesilder .slick-next:before {
    content: url('../img/arrowwhite.svg');
    
    }
    
    .gamesImg.gamesImg2 {
    padding: 0px;
    box-shadow: none;
    }
    
    .gamesImg.gamesImg2 .gamnesIn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .gamesImg.gamesImg2 .gamnesIn {
    width: 100%;
    height: 360px;
    }
    
    .gameContent h2 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.23px;
    font-family: var(--TitilliumSemiBold);
    }
    
    .gameContent p {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.23px;
    color: var(--raisinblack);
    font-family: var(--TitilliumRegular);
    padding-top: 10px;
    }
    
    .gamesImg.gamesImg2 span.colorred {
    position: initial;
    color: #f1114f;
    }
    
    .gameContent {
    padding: 20px 0px;
    }
    
    .gamesilder.gamesildernew .slick-next {
    right: 44%;
    bottom: 9.3%;
    top: unset;
    transform: rotate(180deg);
    left: unset;
    /* / background: #f1114f; / */
    }
    
    .dateContent h2 {
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.23px;
    color:#f1114f;
    font-family: var(--TitilliumRegular);
    text-align: center;
    padding-bottom: 20px;
    }
    
    .dateContent p,
    .singleRight p,
    .singleBottomCont p {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.23px;
    color: var(--raisinblack);
    font-family: var(--TitilliumRegular);
    text-align: center;
    }
    
    .singleLeft,
    .singleRight {
    width: 50%;
    }
    
    .singleRight {
    padding-left: 25px;
    }
    
    .singleDiv {
    display: flex;
    margin: 60px 0px;
    }
    
    .singleRight h2 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.23px;
    text-align: center;
    font-family: var(--TitilliumSemiBold);
    }
    
    .gamesilder.gamesildersingle {
    width: 100%;                     /*swik change */
    margin: 0 auto;
    text-align: center;
    display: block;
    float: revert;
    }
    
    .singleRight p {
    padding-top: 25px;
    }
    
    .singleDiv:nth-child(odd) {
    display: flex;
    /* flex-direction: row-reverse;   swik */
    margin-top: 0;
    }
    
    .singleDiv:nth-child(odd) .singleRight {
    padding-left: 0px;
    padding-right: 25px;
    }
    
    .singleContet p {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.23px;
    color: var(--raisinblack);
    font-family: var(--TitilliumRegular);
    text-align: center;
    padding-bottom: 25px;
    }
    
    .singleBottomCont p {
    padding-top: 30px;
    }
    

    
    .singleBottomImg {
    display: flex;
    justify-content: center;
    }
    
    .singleBottom {
    padding-top: 20px;
    }
    
    .singleDiv:nth-child(odd) .singleLeft img {
    float: right;
    }
    
    .dataHead {
    padding: 40px 0px;
    text-align: center;
    }
    
    p.data ,.protectInform ul li {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: var(--raisinblack);
    font-family: var(--TitilliumRegular);
    }
    h2.data {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: var(--raisinblack);
    font-family: var(--TitilliumSemiBold);
    /* padding-bottom: 25px;*/
    }
    .dataProtect{
        position: relative;
       padding: 0px 340px;         /*swik changes */
    }
    .purple,.h2.data.purple{
    color: #dc11c9 !important;
    }
    .protectInform ul li a{
    color: #f1114f;
    text-decoration: underline;
    }
    .protectInform p{
    padding-bottom: 25px;
    }
    .protectInform h2{
    padding: 10px 0px;
    }
    .protectInform{
    width: 100%;
    margin: 0 auto;
    float: revert;
    }
    .dataprotectIn{
    padding-bottom: 60px;
    }
    p.about{
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.23px;
    color: var(--raisinblack);
    font-family: var(--TitilliumRegular);
    }
    


    /* Contact Page Start */

    .thankyouInner{
        margin: 0px 0 130px;
        margin-top: -1%;
    }
    .pitchInner{
        padding: 0 175px;
    }
    .formTop, .pitchContent{
        text-align: center;
    }
    .pitchContent p{
        margin-bottom: 30px;
    }
    .contactForm h3{
        margin-bottom: 25px;
    }
    .contactForm p{
        margin-bottom: 25px;
        padding: 0 60px;
    }
    .contactForm{
        box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.5);
        padding: 60px 25px;
        margin: 60px 0 80px;
    }
    .contactForm .contactUs .form-group{
        margin-bottom: 20px;
    }
    .contactForm .contactUs .form-control{
        height: auto;
        font-size: 17px;
        line-height: 17px;
        color: var(--raisinblack);
        font-family: var(--TitilliumRegular);
        border: none;
        background-color: var(--greycolor);
        border-radius: 0;
        padding: 16px 20px;
        border: 1px solid var(--greycolor);
    }
    .contactForm .contactUs .form-control:focus{
        outline: none;
        box-shadow: none;
    }
    .contactForm .contactUs .form-control::placeholder{
        color: var(--raisinblack);
    }
    .contactForm .contactUs textarea{
        margin: 20px 0;
        resize: none;
    }
    
    .contactForm .contactUs textarea.form-control{
        height: 100%;
        float: left;
    }
    .contactForm .contactUs .pitchGame{
        height: 198px;
    }
    .contactForm .contactUs .gameFootage{
        height: 98px;
    }
    .contactForm .checkTerms input[type=checkbox]:checked + label, 
    .contactForm .checkTerms input[type=checkbox]:not(:checked) + label{
        color: var(--raisinblack);
        font-size: 17px;
        padding-left: 50px;
    }
    .contactForm .checkTerms input[type=checkbox]:checked + label:before,
    .contactForm .checkTerms input[type=checkbox]:not(:checked) + label:before{
        border: 1px solid var(--greyblue);
    }
    .contactForm .checkTerms input[type=checkbox]:checked + label:after{
        border-right: 1px solid var(--darkBlack);
        border-bottom: 1px solid var(--darkBlack);
    }
    .contactForm button{
        border: 2ps solid transparent;
        margin-top: 50px;
        width: 257px;
    }
    .contactForm .errorMsg{
        text-align: center;
        color: var(--redishcolor);
        font-size: 17px;
        line-height: 24px;
        font-family: var(--TitilliumRegular);
    }
    .contactForm .contactUs .form-control.errorClass{
        border: 1px solid var(--redishcolor);
        color: var(--redishcolor);
    }
    
    button{
        cursor: pointer;
    }
    .contactBanner img{
        width: 100%;
    }
    .gamePitch.contactBox .newsPixelOne{
        top: 47%;
    }
    .featuredTop .mainButton{
        display: none;
    }


/* Contact Page End */

/* Thankyou Page Start */

.gamePitch{
    position: relative;
}
.contactMsg{
    box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.5);
    padding: 60px;
    text-align: center;
    margin: 50px 0 80px;
}
.contactMsg .successImg{
    margin: 80px 0;
    display: block;
}
/* .gamePitch .aboutPixelTwo{
    bottom: 50px;
} */
.gamePitch .newsPixelOne{
    top: 23%;
}

/* Thankyou Page End */

/* Career Page Start */

.joinTeam{
    position: relative;
}
.joinOurTeam{
    padding: 0 175px;
    margin-bottom: 210px;
}
.ourTeam{
    padding: 50px;
    background-color: var(--colorWhite);
    box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.5);
    margin-top: -115px;
}
.joinOurTeam .ourTeam .mainButton {
    margin-top: 45px;
}

/* Career Page End */

/* Imprint Page Start */

.pitchInner{
    text-align: center;
}
.pitchInner .imprintContent{
    margin-bottom: 35px;
}
.pitchInner .imprintContent .listHeading{
    font-family: var(--TitilliumSemiBold);
    margin-bottom: 10px;
}
.pitchInner .imprintContent .emailAddress{
    color: var(--pinkColor);
}
.pitchContent.imprintContent p:last-child{
    margin-bottom: 0;
}
.pitchInner .imprintContent .compInfo{
    font-family: var(--TitilliumSemiBold);
}

.imprintBox .newsPixelOne{
    bottom: 110px;
    top: initial;
}

/* Imprint Page End */

/* About Page Start */

.ourMandate
{
    padding: 0 150px;
}
.ourMandateInner{
    padding: 50px;
    box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.5);
}
.boxAbout{
    text-align: center;
    margin-bottom: 80px;
}
.aboutTop{
    /* padding: 70px 0 30px; */
    padding-bottom: 30px;
    margin-top: -6.7%;
}
.aboutusInner{
    padding: 0 300px;
}
.yesterYears{
    color: var(--redishcolor);
}
.andClassics{
    color: var(--pinkColor);
}
.theFuture{
    color: #de00cb;
}
.valuesGames{
    /* background-color: #dc11c9; */
    text-align: center;
    padding: 125px 0 110px;
    position: relative;
}
.valuesGames h3{
    color: var(--colorWhite);
    font-family: var(--TitilliumSemiBold);
}
.valuesLists{
    margin: 70px 0 120px;
}
.valuesLists ul li{
    display: inline-block;
}
.valuesLists ul li span{
    display: inline-block;
    margin-right: 50px;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.07px;
    font-family: var(--TitilliumSemiBold);
    color: var(--colorWhite);
    padding: 10px 21px;
    background-color: var(--pinkColor);
}
.valuesLists ul li:last-child span{
    margin-right: 0;
}
.valuesGames h2.valuesText{
    font-size: 50px;
    color: var(--colorWhite);
    line-height: 60px;
    letter-spacing: 0.19px;
    font-family: var(--TitilliumBold);
}
.valuesGames p.valuesText{
    font-size: 18px;
    color: var(--colorWhite);
    line-height: 33px;
    letter-spacing: 1px;
    font-family: var(--TitilliumSemiBold);
}
.mandateBottom h3{
    line-height: 55px;
    padding: 0 108px;
}
.ourPartners{
    padding: 124px 0 82px;
}
.slick-prev:before{
    content: url('../img/about/left.svg');
}
.slick-next:before{
    content: url('../img/about/right.svg');
}
.sliderPartner.slick-initialized .slick-slide{
    padding: 0 25px;
}
.valuesGames .valuesPixels2{
    position: absolute;
    right: 0;
    bottom: 0;
}

.retailNetwork{
    padding: 88px 0 96px;
    background-color: var(--greycolor);
    position: relative;
}
.networkRetail{
    text-align: center;
    padding: 0px 290px;
}
.networkRetail ul li{
    display: inline-block;
    padding-right: 70px;
}
.networkRetail ul li:last-child{
    padding-right: 0;
}
.retailNetwork .networkPixel{
    position: absolute;
    left: 0;
    top: 0;
}

.factsFigures{
    padding: 107px 0 170px;
    position: relative;
}
.factsInner .factsList{
    text-align: center;
    margin-bottom: 50px;
}
.factsInner .factsImg{
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.factsInner .factsContent{
    margin-top: 20px;
}
.aboutPixelTwo{
    bottom: 50px;
    right: 0;
}

/* About Page End */


/* purchase Overview Modal Start */


.purchaseOverview .close{
    position: absolute;
    right: 17px;
    top: 17px;
}
.purchaseOverview .modal-dialog{
    max-width: 841px;
}
.purchaseOverview .modal-content{
    padding: 30px;
    text-align: center;
    border-radius: 0;
}
.purchaseOverview .modal-body{
    padding: 0;
}
.retailOptions {
    display: inline-block;
    float: left;
    margin-right: 23px;
}
.retailOptions:nth-child(n+5){
    margin-right: 0;
}
.retailOptions .form-group{
    display: inline-block;
    float: left;
}
.retailEdition .optionsRetail input{
    display: none;
}
.retailEdition .optionsRetail label{
    cursor: pointer;
    width: 137px;
    height: 60px;
    padding: 6px;
    display: inline-block;
    float: left;
    margin-bottom: 0;
}
.retailEdition .optionsRetail label img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.retailEdition .optionsRetail input[type=radio]:not(:checked) + label{
    position: relative;
    border: 1px solid var(--greyblue);
}
.retailEdition .optionsRetail input[type=radio]:checked + label{
    border: 1px solid var(--pinkColor);
}
.purchaseOverview .sectionHead{
    margin-bottom: 20px;
}
.purchaseOverview .sectionHead h4{
    line-height: 33px;
}
.purchaseOverview .overviewSection{
    margin-bottom: 51px;
}
.purchaseOverview .modalButtons button{
    border: none;
    background: transparent;
    width: 267px;
    height: 60px;
    padding: 10px;
    border: 1px solid var(--greyblue);
    display: inline-block;
}
.purchaseOverview .modalButtons button.btnTwo{
    margin-left: 23px;
}
.purchaseOverview .modalButtons button img{
    /* width: auto;
    height: 100%; */
    object-fit: contain;
}


/* Home page changes */
.homeBanner{
    position: relative;
}
.bannerContent{
    position: absolute;
}
.homeBanner img{
    width: 100%;
}
.bannerBox{
    position: relative;
}
.bannerContent h1{
    font-size: 62px;
    line-height: 76px;
    font-family: var(--TitilliumBold);
    color: var(--colorWhite);
    text-transform: uppercase;
}
.bannerInner{
    padding-top: 193px;
}
.bannerInner .mainButton{
    text-align: left;
    margin-top: 70px;
}
.bannerInner .mainButton a{
    padding-left: 0;
    padding-right: 0;
    width: 277px;
    text-align: center;
}
.mobileBanner{
    display: none;
}
.gamesFeatured .mainButton{
    display: block;
}
.gamesFeatured .mainButton a.mobhome{
    display: none;
}
/* purchase Overview Modal End */



/* 
.dropdown-toggle.btn-default {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    text-decoration: none;
  }
  .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #f4f4f4;
  }
  .bootstrap-select > .dropdown-toggle {
    width: 100%;
  }
  .dropdown-menu > li.active > a {
    color: #fff !important;
    background-color: #337ab7 !important;
  }
  .bootstrap-select .check-mark {
    line-height: 14px;
  }
  .bootstrap-select .check-mark::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  .bootstrap-select button {
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  
  /* Make filled out selects be the same size as empty selects */
  /* .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
  } */




  .mobiledatapx{
    display: none;
}
.mobiledatapx2{
    display: none;
}
.mobiledatapixel5, .mobiledatpixel3, .textpixel3{
    display: none;
}
.mobile_banner, .pressmobile_pxl9, .pressmobile_px9{
    display: none;
}
.mobile_press_show, .headlinebox, .pressmobile_pixel, .mobpresspixel6, .textaboutpixel9 {
    display: none;
}
.contactBanner .carrermob{
    display: none;
}
.contactBanner .carre_desk{
    display: block;
}
.overviewBanner .overmobile{
    display: none;
   
}
.overviewBanner .overdesktop {
    display: block;
    width: 100%;
}

 /* About Page Start */

 .valuesGames {
    background: url('../img/about/aboutbanner2.png') no-repeat center center;
    background-size: 100% 100%;
}
.aboutGames img{
    margin-top: 20px;
}
.aboutGames.videoGames img{
    margin-top: 40px;
}
.valuesGames h2.valuesText{
    margin-bottom: 15px;
}
.aboutusInner{
    padding: 0 20%;
}
.ourMandates, .aboutusInner{
    position: relative;
}
.ourMandates .mandatePixelsOne{
    left: 0;
    top: 0;
}
.ourMandates .mandatePixelsTwo{
    right: 0;
    top: 33px;
}
.aboutusInner .gamesPixelsOne{
    left: 0;
    bottom: 0;
}
.aboutusInner .gamesPixelsTwo{
    right: 0;
    top: 100px;
}
.aboutTop .topHeading{
    margin-bottom: 40px;
}
.mandateBottom .mandateTranslate{
    font-family: var(--TitilliumBold);
    margin-top: 20px;
}
.aboutusInner .mobilePixelsOne{
    right: 0;
    top: -20px;
    display: none;
}
.aboutusBox{
    position: relative;
}
.aboutusBox .aboutPixlsOne{
    display: none;
    top: 25px;
    right: 0;
    left: initial;
    width: auto;
    width: 27px;
}
 .aboutPixls{
    display: none;
    left: 0;
    bottom: 20%;
    width: 32px;
}

  /* About Page End */

  /* Contact Us Page Start */

  .formTop .submitHead{
      font-family: var(--TitilliumSemiBold);
  }
  .pitchContent p:last-child{
      margin-bottom: 0;
  }
  .contactBox{
      padding-bottom: 130px;
  }

   /* Contact Us Page End */
/* Thankyou Page Start */

.gamePitch{
    position: relative;
}
.contactMsg{
    box-shadow: 0 7px 34px 0 rgba(195, 192, 192, 0.5);
    padding: 60px;
    text-align: center;
    margin: 50px 0 80px;
}
.contactMsg .successImg{
    margin: 80px 0;
    display: block;
}
/* .aboutPixelTwo{
    bottom: 50px;
    right: 0;
} */
.gamePitch .newsPixelOne{
    top: 23%;
}

/* Thankyou Page End */

   /* Imprint Page Start */

  .imprintBox {
      padding: 80px 0 150px;
  }
  .imprintBox .imprintPixelOne{
      top: 107px;
      left: 0;
  }
  .imprintBox .imprintPixelTwo{
    top: 193px;
    right: 0;
}
.imprintBox .mobileImprint{
    display: none;
}

   /* Imprint Page End */

/* News Overview Page Start */

.overviewBanner img{
    width: 100%;
}
.gamesoverview.newsOverview .gamesHead{
    padding-top: 0;
    /* margin-top: -8%; */
}
.gamesoverview.newsOverview{
    margin-top: -8%;
    padding-bottom: 130px;
    padding :0px 0px  130px;
}
.newsOverview .pixelNews1{
    top: 307px;
    right: 0;
}
.newsOverview .pixelNews2{
    top: 467px;
    left: 0;
}
.newsOverview .pixelNews3{
    top: 905px;
    left: 0;
}
.gameContent p{
    text-align: center;
}
.newsOverviewSlider {
    padding-bottom: 70px;
}
.newsOverviewSlider .slick-prev,
.newsOverviewSlider .slick-next{
    /* content: url('../img/arrow.svg'); */
    bottom: 0;
    top: unset;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 1px solid var(--pinkColor);
    background-color: #fff;
}
.newsOverviewSlider .slick-prev:before{
    content: url('../img/about/left2.svg'); 
    opacity: 1;
}
.newsOverviewSlider .slick-next:before{
    content: url('../img/about/right2.svg'); 
    opacity: 1;
}
.newsOverviewSlider .slick-prev{
    left: 43%;
}
.newsOverviewSlider .slick-next{
    right: 43%;
}
.newsOverviewSlider .slick-disabled
 {
    background-color: var(--pinkColor);
}
.newsOverviewSlider .slick-disabled.slick-prev:before{
    content: url('../img/about/left.svg'); 
}
.newsOverviewSlider .slick-disabled.slick-next:before{
    content: url('../img/about/right.svg'); 
}
.gameContent{
    text-align: center;
}
.newsOverviewSlider .newsBoxs{
    padding: 0 15px;
}

.newsOverview .newsPixelMobile{
    display: none;
    right: 0;
    top: 0;
}
.gameContent h2{
    color: var(--raisinblack);
}

/* News Overview Page End */


/* 14th Aug */

/* Purchase Modal */

.retailOptions{
    float: unset;
}
.purchaseOverview .modal-content{
    padding: 30px 20px;
}
.purchaseOverview .overviewSection.countrySelect{
    margin-top: 30px;
}
.purchaseOverview .close{
    z-index: 99;    
}
.purchaseOverview .close span img{
    float: left;
}



/* button hover start */
.btnhover,
.btnhover::after, .whitebtnhover::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btnhover, .whitebtnhover {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--colorWhite);
  font-family: var(--TitilliumSemiBold);
  padding: 21px 63px;
  display: inline-block;
  text-transform: uppercase;
  z-index: 99;
}
.whitebtnhover::before, .whitebtnhover::after {
    background: var(--pinkColor);
    content: '';
  position: absolute;
  z-index: -1;
}
.btnhover::before,
.btnhover::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btnhover:hover {
  color: var(--pinkColor);
  border: 2px solid var(--pinkColor);;
  /* background: blue; */
}
.whitebtnhover:hover {
    color: var(--colorWhite)!important;
    border: 2px solid var(--pinkColor);
  }


/* BUTTON 4 */
.btnhover::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .btnhover:hover:after {
    height: 100%;
  }

  .whitebtnhover::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .whitebtnhover:hover:after {
    height: 100%;
  }
  



/* button hover end */
.country-select.inside input, .country-select.inside input[type=text] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
    padding: 16px 50px;
    width: 430px;
    font-family: var(--TitilliumRegular);
    font-size: 17px;
    line-height: 24px;
    letter-spacing: normal;
    color: #202020;
    border: solid 1px #dbdbdb;
}

.mainMenu .nav-link.active{
    border-bottom: 2px solid var(--raisinblack);
}
.footMenu ul li.active a{
    color: var(--pinkColor);
}
.sliderRetail .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.networkRetail ul.sliderRetail li {
  height: 100px;
  padding: 0px 35px;
}







